.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.1s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.1s ease-out; }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-nav, .menu-branding {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: rgba(9, 9, 9, 0.5);
    list-style: none;
    transform: translate3d(100%, 0, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: lowercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    transition: all 0.1s ease-out; }
    .menu .nav-link:hover {
      color: #4286f4; }

* {
  box-sizing: border-box; }

body {
  background: #555;
  color: white;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(85, 85, 85, 0.6); }
  body#bg-img-sec {
    background: url(../img/bg2.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img-sec:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 150%;
      height: 150%;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      z-index: -1;
      background: rgba(0, 0, 0, 0.6); }
  body#bg-img-3 {
    background: url(../img/bg2.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img-3:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 150%;
      height: 330%;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      z-index: -1;
      background: rgba(0, 0, 0, 0.6); }

.text-sec {
  color: #4286f4; }

a {
  color: #ffffff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

h1, h2, h3 {
  margin: 0;
  font-weight: 250; }
  h1.lrghead, h2.lrghead, h3.lrghead {
    font-size: 5rem; }
    h1.lrghead .blinker, h2.lrghead .blinker, h3.lrghead .blinker {
      animation-name: blinker;
      animation-iteration-count: infinite;
      animation-timing-function: steps(5, 1);
      animation-duration: 1s;
      display: inline-block;
      width: 50px;
      height: 5px;
      margin-left: 10px;
      background: #ffffff; }

@keyframes blinker {
  from {
    opacity: 1.0; }
  to {
    opacity: 0.0; } }
  h1.smallhead, h2.smallhead, h3.smallhead {
    background: rgba(85, 85, 85, 0);
    margin-bottom: 2rem; }

main {
  padding: 4rem;
  min-height: calc(100vh-60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      transition: all 0.1s ease-out; }
      main .icons a:hover {
        color: #4286f4; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 60vh; }
  main .item {
    margin: 20px 0px 500px 30px;
    display: block; }
    main .item .itemImg {
      box-shadow: 0 0 5px;
      height: 400px;
      float: left; }
    main .item:hover {
      transition: transform .5s ease-out;
      transform: scale(1.02); }
    main .item .itemText {
      margin: 5px 0px 15px 20px;
      float: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      width: 600px;
      font-weight: 100;
      font-size: 18px; }

.about-info {
  display: grid;
  grid-gap: 40px;
  grid-template-areas: 'bioimage bio bio'; }

.bio-image {
  grid-area: 'bioimage';
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px; }

.bio {
  grid-area: bio;
  font-size: 1.5rem; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  h1.lrghead .blinker, h2.lrghead .blinker, h3.lrghead .blinker {
    background: #ffffff00; }
  ul.menu-nav {
    float: bottom;
    width: 100%;
    min-height: 0; }
    ul.menu-nav .menu-nav {
      height: 25vh;
      transform: translate3d(0, -100%, 0); }
      ul.menu-nav .menu-nav.show {
        transform: translate3d(0, 0, 0); }
  .about-info {
    grid-template-areas: 'bioimage' 'bio'; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }
